@charset "utf-8";

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

#calculator{
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display{
    background: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
}

button.active {
    background-color: #d6d6d6;
}

button:hover{
    background: #d6d6d6;
}

#zero-button span{
    font-size: 1rem;
}

